<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Yemek Listesi Yükleme</h1>
    <form action="/admin/yemek-listesi" method="POST" enctype="multipart/form-data">
        <input type="file" name="yemekDosyasi" required>
        <button type="submit">Yükle</button>
    </form>
    <a href="/admin">Admin Paneline Dön</a>
</body>
</html>
