<!--- Sidemenu -->
<ul class="side-nav" style="position: relative; padding-bottom: 60px;"> <!-- padding alttan yer bıraksın -->

    <li class="side-nav-title side-nav-item">Navigasyon</li>

    <li class="side-nav-item">
        <a href="/ikyonetim" class="side-nav-link">
            <i class="mdi mdi-monitor-dashboard"></i>
            <span> Kontrol Paneli </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">Panel Yönetimi</li>

    <li class="side-nav-item">
        <a href="/ikyonetim/yemek-listesi" class="side-nav-link">
            <i class="mdi mdi-food"></i>
            <span> Yemek Listesi </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/ikyonetim/slider-edit" class="side-nav-link">
            <i class="mdi mdi-image"></i>
            <span> Slider </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/ikyonetim/docs-edit" class="side-nav-link">
            <i class="mdi mdi-file-document-multiple-outline"></i>
            <span> Döküman Y. Sistemi </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/ikyonetim/bilgi-edit" class="side-nav-link">
            <i class="mdi mdi-information-outline"></i>
            <span> Bilgi Bankası </span>
        </a>
    </li>

    
    <li class="side-nav-title side-nav-item">Sayfa Yönetimi</li>
    
    </li>
    <li class="side-nav-item">
        <a href="/ikyonetim/sozluk" class="side-nav-link">
            <i class="mdi mdi-alphabetical-variant"></i>
            <span> Sözlük </span>
        </a>
    </li>
    
    <li class="side-nav-item">
        <a href="/ikyonetim/pazaryeri" class="side-nav-link">
            <i class="uil-store"></i>
            <span> Pazaryeri Yönetimi </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">Ayarlar</li>

    <li class="side-nav-item">
        <a href="/ikyonetim/kullanici-yonetimi" class="side-nav-link">
            <i class="mdi mdi-account-multiple"></i>
            <span> Kullanıcı Yönetimi </span>
        </a>
    </li>

    <!-- 🚀 Siteye Dön Butonu (Sabit) -->
    <li class="side-nav-item" style="position: absolute; bottom: 10px; width: 100%;">
        <a href="/" class="side-nav-link" style="color: #ec7601;">
            <i class="mdi mdi-home-outline"></i>
            <span> Siteye Dön </span>
        </a>
    </li>
</ul>
