<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Boltas Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- App css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style">

</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="assets/img/logo.jpg" height="35">
                </span>
                <span class="logo-sm">
                    <img src="assets/img/logo-kare.png" height="30">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar="">

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Menü</li>

                    <li class="side-nav-item">
                        <a href="#" class="side-nav-link">
                            <i class="uil uil-tachometer-fast"></i>
                            <span> Portal </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="#" class="side-nav-link">
                            <i class="mdi mdi-office-building"></i>
                            <span> Şirket Profili </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="#" class="side-nav-link">
                            <i class="mdi mdi-newspaper-variant"></i>
                            <span> Duyurular & Haberler </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="#" class="side-nav-link">
                            <i class="dripicons-user"></i>
                            <span> Telefon Rehberi </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="#" class="side-nav-link">
                            <i class="mdi mdi-file-document"></i>
                            <span> Dökümanlar </span>
                        </a>
                    </li>

                </ul>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">

                    <!-- <ul class="list-unstyled topbar-menu float-end mb-0">
							<li class="notification-list">
                                <a class="nav-link end-bar-toggle" >
                                    <i class="mdi mdi-instagram" style="height: 1.5rem;"></i>
                                </a>
                            </li>
							<li class="notification-list">
                                <a class="nav-link end-bar-toggle">
                                    <i class="mdi mdi-facebook"></i>
                                </a>
                            </li>
							<li class="notification-list">
                                <a class="nav-link end-bar-toggle">
                                    <i class="mdi mdi-linkedin"></i>
                                </a>
                            </li>
                            <li class="dropdown notification-list">
                                <div class="nav-link dropdfown-toggle nav-user arrow-none me-0">
                                    <span>
                                        <span class="account-user-name">Dominic Keller</span>
                                        <span class="account-position">Founder</span>
                                    </span>
                                </div>
                            </li>

                        </ul> -->
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Boltas Portal</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row mb-3">
                        <div id="slider" class="col-md-9 carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a href="#"><img class="d-block img-fluid" src="assets/img/depo foto.jpg"
                                            style="width: 100%;"></a>
                                </div>
                                <div class="carousel-item">
                                    <a href="#"><img class="d-block img-fluid" src="assets/img/GTİP.png"
                                            style="width: 100%;"></a>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#slider" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"
                                    style="color: black;"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#slider" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <!-- Bilgi Bankası -->

                        <!-- Yemek Listesi ve Hava Durumu -->
                        <div class="col-md-3">
                            <div class="card mb-4 mt-3">
                                <div class="card-header">Hava Durumu</div>
                                <div class="card-body">
                                    <label for="citySelect" class="form-label">Şehir Seçin:</label>
                                    <select class="form-select" id="citySelect">
                                        <option selected value="">Lütfen bir şehir seçin</option>
                                        <option value="Istanbul">İstanbul</option>
                                        <option value="Ankara">Ankara</option>
                                        <option value="İzmir">İzmir</option>
                                        <option value="Adana">Adana</option>
                                        <option value="Nürnberg">Nürnberg</option>
                                        <option value="Trieste">Trieste</option>
                                        <option value="Willich">Willich</option>
                                        <option value="Bucuresti">Bucuresti</option>
                                        <option value="Akyaka">Akyaka</option>
                                        <option value="Hamzabeyli">Hamzabeyli</option>
                                        <option value="Edirne">Kapıkule</option>
                                    </select>
                                    <div id="weather-info" class="mt-3"></div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">Döviz Kurları</div>
                                <div class="card-body">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-4">
                                <div class="card-header">Bilgi Bankası</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://ikportal.boltas.com/">İK Portal</a><br>
                                        <small>İnsan Kaynakları</small>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://akademi.boltas.com/">Boltas Akademi</a><br>
                                        <small>Akademi</small>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://flow.boltas.com/">Flow(Eba)</a><br>
                                        <small>Bilgi Teknolojileri</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Diğer Kartlar -->
                        <div class="col-md-6">
                            <div class="card mb-4">
                                <div class="card-header">Doküman Yönetim Sistemi</div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Antetli Kağıt
                                            <span class="float-end"><a
                                                    href="https://boltas.sharepoint.com/:w:/g/Dokumanlar/EQcIL_ilmfRGnG0DQI6z3QQBkUGOBHy-nfdfM8tLPtDtyg">Tıklayınız...</a></span>
                                        </li>
                                        <li class="list-group-item">
                                            Öneri Formu - İK.FR.004
                                            <span class="float-end"><a
                                                    href="https://boltas.sharepoint.com/:w:/r/Dokumanlar/_layouts/15/Doc.aspx?sourcedoc=%7BD09EB508-9D04-40CA-91B4-A00E85F63D28%7D&file=%C3%96neri%20Formu%20-%20%C4%B0K.FR.004.docx&action=default&mobileredirect=true">Tıklayınız...</a></span>
                                        </li>
                                        <li class="list-group-item">
                                            İzin Talep Formu - İK.FR.006
                                            <span class="float-end"><a
                                                    href="https://boltas.sharepoint.com/:w:/r/Dokumanlar/_layouts/15/Doc.aspx?sourcedoc=%7B35B5046E-4249-4972-A8E0-EE5E3573D80B%7D&file=%C4%B0zin%20Talep%20Formu%20-%20%C4%B0K.FR.006.docx&action=default&mobileredirect=true">Tıklayınız...</a></span>
                                        </li>
                                        <li class="list-group-item">
                                            Toplantı Tutanağı - KY.FR.002
                                            <span class="float-end"><a
                                                    href="https://boltas.sharepoint.com/:w:/r/Dokumanlar/_layouts/15/WopiFrame.aspx?sourcedoc=%7BBF352D2F-6525-4731-ADC3-CE104D1469F8%7D&file=Toplant%C4%B1%20Tutana%C4%9F%C4%B1%20%20-%20KY.FR.002.rtf&action=default">Tıklayınız...</a></span>
                                        </li>
                                        <li class="list-group-item">
                                            Avans Talep Formu - İK.FR.005
                                            <span class="float-end"><a
                                                    href="https://boltas.sharepoint.com/:w:/r/Dokumanlar/_layouts/15/Doc.aspx?sourcedoc=%7B9DE0183B-3071-41F9-AA6F-82F478DAA20E%7D&file=Avans%20Talep%20Formu%20-%20%C4%B0K.FR.005.docx&action=default&mobileredirect=true">Tıklayınız...</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <span>Günün Yemek Listesi</span>
                                    <a href="/uploads/yemek-listesi.pdf" target="_blank" class=" text-decoration-none small">
                                        Tümünü Gör
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="menu">
                                        <% if (todayMenu) { %>
                                            <ul class="list-group list-group-flush">
                                                <% todayMenu.meals.forEach(meal => { %>
                                                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> <%= meal %></li>
                                                <% }) %>
                                            </ul>
                                        <% } else { %>
                                            <p class="text-muted text-center mt-3">Bugün için yemek bulunamadı.</p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © BOLTAS - boltas.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="/">Portal</a>
                                <a href="#">Şirket Profili </a>
                                <a href="#">Duyurular & Haberler</a>
                                <a href="https://eur.delve.office.com/?q=%2A&searchpage=1&searchview=people&v=search">Telefon Rehberi</a>
                                <a href="https://boltas.sharepoint.com/dokumanlar">Dökümanlar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->




    <!-- bundle -->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const citySelect = document.getElementById('citySelect');
            citySelect.addEventListener('change', async function getWeather() {
                const city = citySelect.value;
                const weatherInfo = document.getElementById('weather-info');

                if (!city) {
                    weatherInfo.innerHTML = "<p class='text-danger'>Lütfen bir şehir seçin.</p>";
                    return;
                }

                const apiKey = 'aab6b5f43323f1d3590fca07dc1c07f2'; // OpenWeatherMap API anahtarınızı buraya ekleyin
                const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric&lang=tr`;

                try {
                    const response = await fetch(url);
                    if (!response.ok) throw new Error('Hava durumu bilgisi alınamadı');

                    const data = await response.json();
                    const iconCode = data.weather[0].icon;
                    const iconUrl = `https://openweathermap.org/img/wn/${iconCode}@2x.png`;

                    weatherInfo.innerHTML = `
                <div class="d-flex align-items-center">
                    <img src="${iconUrl}" alt="Hava Durumu İkonu" class="me-3">
                    <div>
                        <p class="mb-0"><strong>Sıcaklık:</strong> ${data.main.temp}°C</p>
                        <p class="mb-0"><strong>Hissedilen:</strong> ${data.main.feels_like}°C</p>
                        <p class="mb-0"><strong>Durum:</strong> ${data.weather[0].description}</p>
                    </div>
                </div>
            `;
                } catch (error) {
                    weatherInfo.innerHTML = `<p class='text-danger'>Hata: ${error.message}</p>`;
                }
            });
        });
    </script>


</body>

</html>