<!DOCTYPE html>
<html lang="tr">

    <head>
        <meta charset="utf-8" />
        <title>Giriş Yap | Boltas Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <%- include("partials/css") %>

    </head>

    <body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-start">
                            <a href="index.html" class="logo-dark">
                                <span><img src="admin-assets/img/logo.png" alt="" height="35"></span>
                            </a>
                            <a href="index.html" class="logo-light">
                                <span><img src="admin-assets/img/logo.png" alt="" height="35"></span>
                            </a>
                        </div>

                        <!-- title-->
                        <h4 class="mt-0">Giriş Yap</h4>
                        <p class="text-muted mb-4">Email adresinizi ve şifrenizi giriniz.</p>

                        <% if (typeof error !== 'undefined') { %>
                          <div class="alert alert-danger" role="alert">
                            <%= error %>
                          </div>
                        <% } %>
                        

                        <!-- form -->
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email Adresi</label>
                                <input class="form-control" type="email" id="username" name="username" required="" placeholder="Email adresinizi girin">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Şifre</label>
                                <input class="form-control" type="password" required="" id="password" name="password" placeholder="Şifrenizi girin">
                            </div>
                            <div class="d-grid mb-0 text-center">
                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Giriş Yap </button>
                            </div>
                        </form>
                        <!-- end form-->

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <p class="text-muted">Şifreni bilmiyor musun? <a href="mailto:IT@boltas.com" class="text-muted ms-1"><b>Bizimle iletişime geç.</b></a></p>
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            
            <!-- end Auth fluid right content -->
        </div>
        <!-- end auth-fluid-->

        <%- include("partials/scripts") %>

    </body>

</html>