<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <script>document.write(new Date().getFullYear())</script> © Teknoloji ve Arge Grup Müdürlüğü - <a href="https://boltas.com/">boltas.com</a>
            </div>
        </div>
    </div>
</footer>
