<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © BOLTAS - boltas.com
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="/">Portal</a>
                    <a href="#">Şirket Profili </a>
                    <a href="#">Duyurular & Haberler</a>
                    <a href="https://eur.delve.office.com/?q=%2A&searchpage=1&searchview=people&v=search">Telefon Rehberi</a>
                    <a href="https://boltas.sharepoint.com/dokumanlar">Dökümanlar</a>
                </div>
            </div>
        </div>
    </div>
</footer>