<!--- Sidemenu -->
<ul class="side-nav">

    <li class="side-nav-title side-nav-item">Menü</li>

    <li class="side-nav-item">
        <a href="/" class="side-nav-link">
            <i class="uil uil-tachometer-fast"></i>
            <span> Portal </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="#" class="side-nav-link">
            <i class="mdi mdi-newspaper-variant"></i>
            <span> Duyurular & Haberler </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="/telefon-rehberi" class="side-nav-link">
            <i class="dripicons-user"></i>
            <span> Telefon Rehberi </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="https://boltas.sharepoint.com/dokumanlar/Belgeler/Forms/AllItems.aspx" class="side-nav-link">
            <i class="mdi mdi-file-document"></i>
            <span> Dökümanlar </span>
        </a>
    </li>
</ul>
