<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/" >
                            <i class="uil uil-tachometer-fast me-1"></i>Portal
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/telefon-rehberi" >
                            <i class="dripicons-user me-1"></i>Telefon Rehberi
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" >
                            <i class="mdi mdi-newspaper-variant me-1"></i>Duyurular & Haberler
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://boltas.sharepoint.com/dokumanlar/Belgeler/Forms/AllItems.aspx" >
                            <i class="mdi mdi-file-document me-1"></i>Dökümanlar
                        </a>
                    </li>

                    
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/pazaryeri" id="topnav-dashboard" role="button">
                            <i class="uil-store me-1"></i>Pazaryeri
                            <span class="badge bg-danger rounded-pill ms-1 new-badge">Yeni</span>
                        </a>
                    </li> -->

                </ul>
            </div>
        </nav>
    </div>
</div>