<a href="/" class="logo text-center logo-light">
    <span class="logo-lg">
        <img src="assets/img/logo.jpg" height="35">
    </span>
    <span class="logo-sm">
        <img src="assets/img/logo-kare.png" height="30">
    </span>
</a>