<!--- Sidemenu -->
<ul class="side-nav">

    <li class="side-nav-title side-nav-item">Navigasyon</li>

    <li class="side-nav-item">
        <a href="/ikyonetim" class="side-nav-link">
            <i class="mdi mdi-monitor-dashboard"></i>
            <span> Kontrol Paneli </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">Yönetim</li>

    <li class="side-nav-item">
        <a href="/ikyonetim/yemek-listesi" class="side-nav-link">
            <i class="mdi mdi-food"></i>
            <span> Yemek Listesi </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="/ikyonetim/yemek-listesi" class="side-nav-link">
            <i class="mdi mdi-food"></i>
            <span> Slider </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="/ikyonetim/yemek-listesi" class="side-nav-link">
            <i class="mdi mdi-food"></i>
            <span> Döküman Yönetim Sistemi </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="/ikyonetim/yemek-listesi" class="side-nav-link">
            <i class="mdi mdi-food"></i>
            <span> Bilgi Bankası </span>
        </a>
    </li>
</ul>